h1, h4 {
	text-align: center;
}

.container {
	align-content: center;
	width: 50%;
}

.form-group .user  {
	width: 60px;
	height: 40px;
}


table {
    border: 1px solid black;
}

th {
	padding: 20px;
	border: 1px solid black;
	text-align: center;
}

td {
	padding: 20px;
	border: 1px solid black;
	text-align: center;
}

input{
	text-align: center;
}
#text1{
	display: none;
	color: red;
	font-weight: bold;
}

.option{
	transition: all 5s ease;
	background-color: #6666ff;
	opacity: 0.6;
	color: red;
	position: relative;
	height: 50px;
	display:none;
}

p{
	text-align: center;
} 

.option button {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 50%;
}
.option.scale {
	transform: scale(7)
}